[Desktop Entry]
Type=Application
Name=Protodesk
Comment=Unofficial desktop app for Proton
Icon=protodesk
Exec=protodesk
Terminal=false
Categories=Network;Utility;Email;Calendar;Archiving
